<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Bordered Table</h2>
  <a href="/add" class="btn btn-success" title="">Add</a>
  <a href="/logout" class="btn btn-success" title="" style="text-align: right;">Logout</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Image</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    	<% for(var i=0; i < data.length; i++) { %>
	      <tr>
	        <td><%= data[i].name %></td>
     		<td><%= data[i].email %></td>
     		<td><img src="/img/<%= data[i].image %>" alt="" width="80px";> </td>
     		<td><%= data[i].createdAt %></td>
     		<td><a href="/edit/<%= data[i].id %>" class='btn btn-success'>Edit</a><a href="/delete/<%= data[i].id %>" class='btn btn-success' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
	      </tr>
      <% } %>

    </tbody>
  </table>
   <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/userList?page=1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/userList?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/userList?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
</div>

</body>
</html>
